      * {
          margin: 0px;
          padding: 0px;
      }

      .body {
          font-family: 'Roboto', sans-serif;
      }

      :root {
          --hover-color: #2196F3;
          --color-grey: #757575;
          --color-black: #212121;
          --color-light-grey: #F5F4FA;
          --header-line: #ececec;
          --background-color: #2f303a;
          --color-white: #fff;
          --portfolio-libe: #eee;
          --light-grey-2: #AFB1B8;
          --backdrop-color: rgba(0, 0, 0, 0.4);
      }

      .section {
          padding-block: 94px;
      }

      .container {
          box-sizing: border-box;
          max-width: 1200px;
          width: 100%;
          padding: 0 15px;
          margin: 0 auto;
      }

      .header-border {
          border-bottom: 1px solid;
          border-color: var(--header-line);
      }

      /* logo */

      .logo-link {
          display: block;
          font-family: 'Raleway', sans-serif;
          text-decoration: none;
          font-family: Raleway;
          font-weight: 700;
          font-size: 26px;
          line-height: 1.19;
          color: var(--color-black);
          margin-right: 93px;
      }

      .web {
          color: var(--hover-color)
      }

      .studio:hover {
          color: var(--hover-color);
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      /*----------------navigation-------------------- */

      .nav-wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 24px;
          padding-bottom: 25px;
      }

      .nav {
          flex-grow: 1;
      }

      .nav-ul a {
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.02em;
          color: var(--color-black);
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .nav-2-li a {
          display: inline-flex;
          align-items: flex-end;
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .nav li {
          display: inline;
      }

      .nav li:nth-child(-n +2) {
          margin-right: 46px;
      }

      .nav-2-wrap li:nth-child(-n +2) {
          margin-right: 50px;
      }

      .nav-2 li {
          display: inline;
      }

      .nav-link2 {
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.14;
          letter-spacing: 0.02em;
          color: var(--color-grey);
      }

      .nav-ul a:hover {
          position: relative;
          color: var(--hover-color);
      }

      .nav-link2:hover {
          color: var(--hover-color);
      }

      /*---------------- nav links after effect-------------------- */

      .nav-ul a {
          position: relative;
      }

      .nav-link:hover::after {
          position: absolute;
          content: "";
          width: 101%;
          opacity: 1;
          height: 4px;
          left: 0px;
          bottom: -32.5px;
          border-radius: 10px;
          background: var(--hover-color);
          transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .portfolio::after {
          position: absolute;
          bottom: -32px;
          left: -1px;
          content: "";
          width: 101%;
          height: 4px;
          left: 0px;
          bottom: -32.5px;
          border-radius: 10px;
          background: var(--hover-color);
      }

      .agency::after {
          position: absolute;
          bottom: -32px;
          left: -1px;
          content: "";
          width: 101%;
          height: 4px;
          left: 0px;
          bottom: -32.5px;
          border-radius: 10px;
          background: var(--hover-color);
      }

      /*----------------main-------------------- */
      /* sec-1 */

      .sc-1-background {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-background.jpg);
      }

      .sc-1-wrap {
          padding: 106px 0;
      }

      .sc1-h1 {
          font-style: normal;
          font-weight: 900;
          font-size: 44px;
          line-height: 1.3;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 0.06em;
          width: 696px;
          margin: 0 auto 30px;
          color: var(--color-white);
      }

      .button-sc-1 {
          width: 200px;
          height: 50px;
          left: 700px;
          top: 430px;
          background: var(--hover-color);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          font-style: normal;
          border-radius: 4px;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.8;
          letter-spacing: 0.06em;
          color: var(--color-white);
          cursor: pointer;
          margin: 0 auto;
          display: block;
          border: none;
      }

      /* sec-2 */

      .sc2-h2 {
          display: none;
      }

      .sc-2-l {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px;
          margin-bottom: 94px;
      }

      .sc-2-wrap li {
          min-width: 270px;
          flex-basis: calc((100% - 90px) / 4);
      }

      .sc2-h3 {
          font-style: normal;
          font-size: 14px;
          line-height: 1.1;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          margin-bottom: 10px;
      }

      .sc2-p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 1.7;
          color: var(--color-grey);
      }

      .sc3-h2 {
          margin-top: 0;
          margin-bottom: 50px;
          font-weight: 700;
          font-size: 36px;
          line-height: 1.16;
          letter-spacing: 0.03em;
          text-align: center;
      }

      .pictures-wrap ul {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px;
      }

      .pictures-wrap li {
          flex-basis: calc((100% - 60px) / 3);
          position: relative;
          display: block;
      }

      .what-we-doing {
          position: absolute;
          background: rgba(47, 48, 58, 0.8);
          font-size: 14px;
          line-height: 16.41px;
          bottom: 0;
          width: 100%;
          height: 70px;
      }

      .pictures-wrap li img {
          display: block;
      }

      .what-we-doing p {
          display: flex;
          margin-top: 27px;
          justify-content: center;
          text-transform: uppercase;
          color: var(--color-white);
      }

      /* sec-4 */

      .sc-4 {
          background-color: var(--color-light-grey);
      }

      .sc4-h2 {
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          margin-bottom: 50px;
          margin-top: 0;
          letter-spacing: 0.03em;
          color: var(--color-black);
          line-height: 1.6;
          text-align: center;
      }

      .sc-4-wrap ul {
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px;
      }

      .sc-4-wrap li {
          flex-basis: calc((100% - 90px) / 4);
      }

      .sc4-h3 {
          padding-top: 30px;
          font-style: normal;
          font-size: 16px;
          letter-spacing: 0.03em;
          color: var(--color-black);
          line-height: 1.1;
          text-align: center;
          margin: 0 0 16px;
      }

      .sc4-p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.03em;
          color: var(--color-grey);
          line-height: 1.1;
          text-align: center;
      }

      .sc-4-wrap li {
          background: var(--color-white);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 0px 0px 4px 4px;
          padding-bottom: 30px;
      }

      /*----------------footer------------------- */

      .footer-wrap {
          background: var(--background-color);
      }

      .social-media p {
          color: var(--color-white);
          line-height: 1.12;
          font-weight: 700;
          text-transform: uppercase;
          margin: 0 0 20px;
      }

      .social-media {
          padding-bottom: 100px;
          padding-top: 72px;
      }

      .footer-box {
          display: flex;
      }

      .address-p {
          font-size: 14px;
          letter-spacing: 0.03em;
          line-height: 1.7;
          margin: 0;
          font-style: normal;
          color: var(--color-white)
      }

      .logo-f {
          padding-top: 60px;
          padding-bottom: 60px;
          margin-right: 70px;
      }

      .studio-f {
          color: var(--color-white);
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .studio-f:hover {
          color: var(--hover-color);
      }

      .address-ul {
          list-style-type: none;
      }

      .address a {
          font-size: 14px;
          text-decoration: none;
          font-weight: 400;
          line-height: 1.7;
          letter-spacing: 00.03em;
          font-style: normal;
          color: var(--light-grey-2);
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .address li {
          margin-top: 9px;
      }

      .address a:hover {
          color: var(--hover-color);
      }

      /*----------------porfolio-------------------- */
      /* buttons-p */

      .button-wrap {
          display: flex;
          justify-content: center;
          gap: 8px;
      }

      .button-wrap li {
          list-style: none;
          display: inline;
      }

      .button-p {
          background: var(--color-light-grey);
          color: var(--color-black);
          border-radius: 4px;
          border-style: none;
          cursor: pointer;
          padding: 6px 22px;
          border: none;
          text-align: center;
          font-weight: 500;
          line-height: 1.6;
      }

      .button-p:hover {
          background: var(--hover-color);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          color: var(--color-white);
      }

      /* content-p */

      .portfolio-wrap {
          padding: 34px 0 0;
      }

      .content-p-l {
          display: block;
      }

      .content-p-l img {
          display: block;
      }

      .portfolio-wrap li {
          list-style: none;
          flex-basis: calc((100% - 60px) / 3);
      }

      .portfolio-wrap ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 30px;
      }

      .portfolio-box {
          width: 100%;
          padding: 20px 24px;
          border-right: 1px solid;
          border-bottom: 1px solid;
          border-left: 1px solid;
          color: var(--portfolio-libe);
      }

      .portfolio-box li {
          flex-basis: calc((100% - 60px) / 3);
          color: var(--color-white);
      }

      .content-p-l li:hover {
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      }

      .content-p-h3 {
          font-style: normal;
          font-size: 16px;
          letter-spacing: 0.06em;
          color: var(--color-black);
          line-height: 2;
      }

      .content-p-p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          letter-spacing: 0.03em;
          color: var(--color-grey);
          line-height: 1.8;
      }

      /*----------------portfolio overley effect-------------------- */

      .overflow {
          position: relative;
          overflow: hidden;
      }

      .overflow-label {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          font-size: 18px;
          line-height: 1.5;
          font-weight: 400;
          display: flex;
          align-items: center;
          padding-left: 24px;
          padding-right: 45px;
          background-color: var(--hover-color);
          color: var(--color-white);
          transform: translateY(100%);
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .overflow-box li:hover .overflow-label {
          transform: translateY(0);
      }

      /*----------------nav icon svg-------------------- */

      .nav-icon {
          margin-right: 10px;
      }

      .nav-link2 {
          fill: var(--color-grey);
          transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .nav-link2:hover {
          fill: var(--hover-color);
      }

      /*----------------main icon svg-------------------- */

      .main-icon {
          display: flex;
          list-style-type: none;
          gap: 30px;
          margin-bottom: 30px;
      }

      .main-icon li {
          width: 270px;
          height: 120px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-color: var(--color-light-grey);
          border-radius: 4px;
      }

      /*----------------our clients icons-------------------- */

      .sc-5-h2 {
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          margin-bottom: 50px;
          margin-top: 0;
          letter-spacing: 0.03em;
          color: var(--color-black);
          line-height: 1.6;
          text-align: center;
      }

      .client-icons {
          display: flex;
          list-style-type: none;
          gap: 30px;
          cursor: pointer;
      }

      .icon1 {
          height: 47px;
          width: 46px;
      }

      .client-icons li {
          display: flex;
          width: 170px;
          height: 92px;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: solid 1px var(--light-grey-2);
          border-radius: 4px;
      }

      .client-icons {
          fill: var(--color-grey);
      }

      .client-icons li:hover,
      .client-icons li:focus {
          fill: var(--hover-color);
          transition: all 0.2s;
          border: solid 1px var(--hover-color);
          border-radius: 4px;
      }

      /*----------------section 4social icons-------------------- */

      .sc-4-social-icons {
          margin-top: 16px;
          display: flex;
          fill: var(--light-grey-2);
          gap: 10px;
          margin-left: 32px;
          cursor: pointer;
      }

      .sc-4-social-icons a {
          display: flex;
          width: 44px;
          height: 44px;
          justify-content: center;
          align-items: center;
          transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          border-radius: 50%;
      }

      .sc-4-social-icons a:hover,
      .sc-4-social-icons a:focus {
          background-color: var(--hover-color);
          fill: var(--color-white);
          border-radius: 50%;
          width: 44px;
          height: 44px;
      }

      /*----------------footer svg icons-------------------- */

      .icon-footer-wrap {
          display: flex;
          fill: var(--color-white);
          gap: 10px;
      }

      .icon-footer-wrap a {
          cursor: pointer;
          display: flex;
          border-radius: 50%;
          width: 44px;
          height: 44px;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 255, 255, 0.1);
          transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .icon-footer-wrap a:hover,
      .icon-footer-wrap a:focus {
          background-color: var(--hover-color);
          fill: var(--color-white);
          transition: all 0.4s;
          border-radius: 50%;
          width: 44px;
          height: 44px;
      }

      /*----------------backdrop-------------------- */

      .backdrop {
          position: fixed;
          left: 0;
          top: 0;
          background-color: var(--backdrop-color);
          width: 100%;
          height: 100%;
          transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      .modal {
          transform: scale(2);
          position: absolute;
          top: 50%;
          left: 50%;
          width: 528px;
          height: 581px;
          background-color: var(--color-white);
          transform: translate(-50%, -50%);
          border-radius: 4px;
      }

      .is-hidden {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
          transform: translate(0, -100%);
      }

      .close-btn {
          position: absolute;
          top: 8px;
          right: 8px;
          width: 30px;
          height: 30px;
          background-color: var(--color-white);
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          cursor: pointer;
      }

      /*----------------footer newslatter section-------------------- */

      .newslatter {
          margin-left: 78px;
          align-items: center;
      }

      .newslatter-wrap {
          display: flex;
      }

      .newslatter h2 {
          color: var(--color-white);
          font-size: 14px;
          font-weight: 700;
          line-height: 1.17;
          margin-top: 72px;
          margin-bottom: 20px;
          text-transform: uppercase;
      }

      .fotter-input {
          width: 358px;
          height: 50px;
          border-radius: 4px;
          background-color: var(--background-color);
          color: var(--color-grey);
          border-color: var(--color-grey);
      }

      .newslatter-button {
          display: flex;
          width: 200px;
          height: 50px;
          background-color: var(--hover-color);
          border: none;
          border-radius: 4px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          margin-left: 12px;
      }

      .newslatter-button h3 {
          color: var(--color-white);
          font-weight: 700;
          font-size: 16px;
          line-height: 1.8;
          margin-top: 10px;
          margin-left: 45px;
      }

      .vsg-send {
          fill: var(--color-white);
          width: 24px;
          height: 24px;
          margin-left: 24px;
          margin-top: 16px;
      }

      /*----------------modal-------------------- */

      .modal-content {
          display: flex;
          width: 100%;
          height: 100%;
          padding: 40px;
      }

      .modal h2 {
          padding-bottom: 12px;
          justify-content: center;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 1.15;
          text-align: center;
          letter-spacing: 0.03em;
          margin-bottom: 12px;
      }

      /* input label style */

      .label :first-child {
          display: flex;
          margin-top: 10px;
          margin-bottom: 4px;
          font-size: 12px;
          line-height: 1.16;
          letter-spacing: 0.01em;
          color: var(--color-grey);
      }

      /* input style */

      .label input {
          display: flex;
          width: 448px;
          height: 40px;
          border: 1px solid var(--light-grey-2);
          border-radius: 4px;
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          padding-left: 40px;
          outline: none;
      }

      .label input:focus {
          border: 1px solid var(--hover-color);
      }

      .label:focus-within svg {
          fill: var(--hover-color);
      }

      /* imput vsg style */

      .label .modal-svg {
          position: absolute;
          height: 18px;
          width: 18px;
          margin-block: 14px;
          margin-left: 15px;
      }

      /* modal button */

      .button-wraper {
          display: flex;
          justify-content: center;
      }

      .modal-button {
          height: 50px;
          width: 200px;
          background-color: var(--hover-color);
          color: var(--color-white);
          font-size: 16px;
          font-weight: 700;
          line-height: 1.8;
          border-style: none;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          cursor: pointer;
      }

      /* textarea */

      .label-2 {
          display: flex;
          flex-direction: column;
      }

      .label-2 :first-child {
          font-size: 12px;
          color: var(--color-grey);
          margin-top: 10px;
          margin-bottom: 4px;
      }

      .label-2 :nth-child(2) {
          width: 448px;
          height: 120px;
          border: 1px var(--light-grey-2) solid;
          border-radius: 4px;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          resize: none;
          padding-block: 12px;
          padding-inline: 16px;
          outline: none;
          font-size: 12px;
          line-height: 1.71;
          color: var(--light-grey-2)
      }



      /* modal-bottom-section */

      .checkbox-wraper {
          margin-top: 20px;
          margin-bottom: 30px;
      }

      .checkbox-label {
          position: relative;
      }

      .order-checkbox {
          position: absolute;
          opacity: 100%;
          fill: var(--color-white);
          width: 1px;
          height: 1px;
      }

      .order-checkbox-span {
          position: absolute;
          width: 16px;
          height: 15px;
          border: 2px solid black;
          border-radius: 4px;
          margin-top: 2px;
          cursor: pointer;
          transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }



      .order-svg {
          display: flex;
          position: absolute;
          margin-top: 1px;
          fill: var(--color-white);
      }

      .checkbox-label :nth-child(3) {
          margin-left: 20px;
          color: var(--color-grey);
      }

      .checkbox-label a {
          color: var(--hover-color);
      }


      .order-checkbox:checked+.order-checkbox-span {
          background-color: var(--hover-color);
          border: 2px solid var(--hover-color);
      }

      .order-checkbox:focus+.order-checkbox-span {
          border-color: var(--hover-color);
          outline: 2px solid rgba(33 150 243 / 0.25);
          outline-offset: 1px;
      }