/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

:root {
    --hover-color: #2196F3;
    --color-grey: #757575;
    --color-black: #212121;
    --color-white: #F5F4FA;
}


/*----------------header-------------------- */

.header {
    width: 1600px;
    height: 80px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*----------------logo-------------------- */

.logo {
    margin-left: 200px;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--color-black);
}

.logo-link>span {
    color: var(--hover-color)
}


/*----------------navigation-------------------- */

.nav {
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    column-gap: 35px;
}

.nav-link {
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--hover-color)
}

.nav-2 {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link2 {
    margin-right: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.nav-link2:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--hover-color)
}


/*----------------main-------------------- */


/* sec-1 */

.sc-1 {
    width: 1600px;
    height: 600px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-1-c {
    width: 696px;
    height: 120px;
    position: absolute;
}

.sc1-h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
}

.button-sc-1 {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--color-white);
    cursor: pointer;
    position: absolute;
}


/* sec-2 */

.sc-2 {
    display: flex;
    margin: auto;
    width: 1600px;
    height: 200px;
}

.sc2-h2 {
    color: var(--color-white);
    /* ten naglowek mial byc po prostu usuniety wic dalek kolor bialy dla nie chyba ze jest inny sposob jak to zrobic? */
}

.sc-2-l {
    width: 1200px;
    height: 101px;
    display: flex;
}

.sc2-h3 {
    font-style: normal;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.sc2-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-grey);
}


/* sec-3 */

.sc-3 {
    width: 1600px;
    height: 600px;
    margin: auto;
}

.sc3-h2 {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-black);
}

.sc-3-ul {
    margin-inline: auto;
    display: flex;
    width: 1200px;
    height: 386px;
    list-style-type: none;
}

.sc-3-img {
    padding: 15px;
}


/* sec-4 */

.sc-4 {
    width: 1600px;
    height: 648px;
}

.sc4-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.1;
    display: flex;
    justify-content: center;
    padding-block: 10px;
}

.sc-4-ul {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    list-style-type: none;
    height: 368px;
    width: 368px;
}

.sc-4-li {
    padding: 15px;
}

.sc4-h3 {
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.1;
}

.sc4-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.1;
}


/*----------------footer------------------- */


/* logo-2 */

.logo-2 {
    margin-left: 200px;
}

.footer {
    width: 1600px;
    height: 252px;
}

.address {
    margin-left: 200px;
}

.address-p {
    font-style: normal;
    font-weight: 400;
    width: 1600px;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.7;
    margin-left: 200px;
    /* na razie dalem kolor czarny bo nie widac napisu 
    na bialym tle a nie chce tootera ustawia bo jak 
    zaczne znow wszystko popierdziele :) domyslny kolor bialy */
}

.address-ul {
    margin-left: 200px;
    list-style-type: none;
    width: 1600px;
}

.address-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.address-link:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--hover-color);
    line-height: 1.7;
}


/*----------------porfolio-------------------- */


/* buttons-p */

.buttons-p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
}

.button-p {
    width: 93px;
    height: 38px;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.button-p:hover {
    width: 93px;
    height: 38px;
    background: var(--hover-color);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/* content-p */

.content-p-h3 {
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--color-black);
    line-height: 2;
}

.content-p-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.8;
}