/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --hover-color: #2196F3;
    --color-grey: #757575;
    --color-black: #212121;
    --color-white: #F5F4FA;
    --header-line: #ececec;
    --background-color: #2f303a;
}

.section {
    padding-block: 94px;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header-border {
    border-bottom: 1px solid;
    border-color: var(--header-line);
}


/* logo */

.logo-link {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--color-black);
}

.logo-link>span {
    color: var(--hover-color)
}


/*----------------navigation-------------------- */

.nav {
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link {
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link:hover {
    color: var(--hover-color)
}

.nav-2 {
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.nav-link2:hover {
    color: var(--hover-color)
}


/*----------------main-------------------- */


/* sec-1 */

.sc-1-background {
    background: var(--background-color)
}

.sc1-h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
}

.button-sc-1 {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--color-white);
    cursor: pointer;
}


/* sec-2 */

.sc2-h2 {
    color: var(--color-white);
    /* ten naglowek mial byc po prostu usuniety wic dalek kolor bialy dla nie chyba ze jest inny sposob jak to zrobic? */
}

.sc2-h3 {
    font-style: normal;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.sc2-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-grey);
}


/* sec-3 */

.sc3-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-black);
}


/* sec-4 */

.sc4-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.1;
}

.sc4-h3 {
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.1;
}

.sc4-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.1;
}


/*----------------footer------------------- */


/* logo-2 */

.address-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.7;
    /* na razie dalem kolor czarny bo nie widac napisu 
    na bialym tle a nie chce tootera ustawia bo jak 
    zaczne znow wszystko popierdziele :) domyslny kolor bialy */
}

.address-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.address-link:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--hover-color);
    line-height: 1.7;
}


/*----------------porfolio-------------------- */


/* buttons-p */

.buttons-p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
}

.button-p {
    width: 93px;
    height: 38px;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.button-p:hover {
    width: 93px;
    height: 38px;
    background: var(--hover-color);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/* content-p */

.content-p-h3 {
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--color-black);
    line-height: 2;
}

.content-p-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.8;
}