/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    background-color: #F5F4FA;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --hover-color: #2196F3;
    --color-grey: #757575;
    --color-black: #212121;
    --color-white: #F5F4FA;
}


/*----------------header-------------------- */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}


/* logo */

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-left: 215px;
    margin-right: 93px;
}

.logo-link {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    color: var(--color-black);
}

.logo-link>span {
    color: var(--hover-color)
}


/*----------------navigation-------------------- */

.nav {
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-ul {
    display: inline-flex;
    list-style-type: none;
    gap: 46px;
}

.nav-link {
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--hover-color)
}

.nav-2 {
    gap: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    color: var(--color-black);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link2 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.nav-link2:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--hover-color)
}


/*----------------main-------------------- */


/* sec-1 */

.container-sc-1 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.sc1-h1 {
    margin-top: 200px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
}

.button-sc {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
}

.button-sc-1 {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--color-white);
    cursor: pointer;
}


/* sec-2 */

.container-sc-2 {
    padding-top: 94px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
}

.sc-2 {
    margin: 0 auto;
}

.sc-2-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.sc2-h2 {
    color: var(--color-white);
    /* ten naglowek mial byc po prostu usuniety wic dalek kolor bialy dla nie chyba ze jest inny sposob jak to zrobic? */
}

.sc2-h3 {
    font-style: normal;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.sc2-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-grey);
}


/* sec-3 */

.container-sc3 {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 1200px;
}

.sc-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sc3-ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    gap: 30px;
}

.sc3-h2 {
    padding-top: 94px;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-black);
}


/* sec-4 */

.container-sc4 {
    padding-top: 94px;
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 1200px;
}

.sc4-ul {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.sc4-li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.sc-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 94px;
}

.sc4-h2 {
    padding-top: 94px;
    padding-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.1;
}

.sc4-h3 {
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.1;
}

.sc4-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.1;
}


/*----------------footer------------------- */

.footer-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 1200px;
}

.footer {
    padding-top: 60px;
}


/* logo-2 */

.footer-ul {
    list-style-type: none;
}

.address-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.7;
    /* na razie dalem kolor czarny bo nie widac napisu 
    na bialym tle a nie chce tootera ustawia bo jak 
    zaczne znow wszystko popierdziele :) domyslny kolor bialy */
}

.address-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.address-link:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--hover-color);
    line-height: 1.7;
}


/*----------------porfolio-------------------- */


/* buttons-p */

.buttons-p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border-radius: 4px;
}

.button-p {
    width: 93px;
    height: 38px;
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
}

.button-p:hover {
    width: 93px;
    height: 38px;
    background: var(--hover-color);
    color: var(--color-white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}


/* content-p */

.content-p-h3 {
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.06em;
    color: var(--color-black);
    line-height: 2;
}

.content-p-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.8;
}