/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
}

.body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --hover-color: #2196F3;
    --color-grey: #757575;
    --color-black: #212121;
    --color-light-grey: #F5F4FA;
    --header-line: #ececec;
    --background-color: #2f303a;
    --color-white: #fff;
    --portfolio-libe: #eee;
}

.section {
    padding-block: 94px;
}

.container {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header-border {
    border-bottom: 1px solid;
    border-color: var(--header-line);
}


/* logo */

.logo-link {
    display: block;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-black);
    margin-right: 93px;
}

.web {
    color: var(--hover-color)
}

.studio:hover {
    color: var(--hover-color)
}


/*----------------navigation-------------------- */

.nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.nav {
    flex-grow: 1;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-black);
}

.nav li {
    display: inline;
}

.nav li:nth-child(-n +2) {
    margin-right: 46px;
}

.nav-2-wrap li:nth-child(-n +2) {
    margin-right: 50px;
}

.nav-2 li {
    display: inline;
}

.nav-link2 {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.nav-link:hover {
    color: var(--hover-color);
}

.nav-link2:hover {
    color: var(--hover-color);
}


/*----------------main-------------------- */


/* sec-1 */

.sc-1-background {
    background: var(--background-color)
}


/* nie wiem o co chodzi z tlem potem to naprawie */

.sc-1-wrap {
    padding: 106px 0;
}

.sc1-h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    width: 696px;
    margin: 0 auto 30px;
}

.button-sc-1 {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: var(--color-white);
    cursor: pointer;
    margin: 0 auto;
    display: block;
}


/* sec-2 */

.sc2-h2 {
    display: none;
}

.sc-2-l {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 94px;
}

.sc-2-wrap li {
    min-width: 270px;
    flex-basis: calc((100% - 90px) / 4);
}

.sc2-h3 {
    font-style: normal;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.sc2-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-grey);
}

.sc3-h2 {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.pictures-wrap ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.pictures-wrap li {
    flex-basis: calc((100% - 60px) / 3);
}


/* sec-4 */

.sc-4 {
    background-color: var(--color-light-grey);
}

.sc4-h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    margin-top: 0;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.6;
    text-align: center;
}

.sc-4-wrap ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.sc-4-wrap li {
    flex-basis: calc((100% - 90px) / 4);
}

.sc4-h3 {
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-black);
    line-height: 1.1;
    text-align: center;
    margin: 0 0 16px;
}

.sc4-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.1;
    text-align: center;
}

.sc-4-wrap li {
    background: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}


/*----------------footer------------------- */

.footer-wrap {
    background: var(--background-color)
}

.address-p {
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
    margin: 0;
    font-style: normal;
}

.logo-f {
    padding-top: 60px;
    padding-bottom: 60px;
}

.address-ul {
    list-style-type: none;
}

.address a {
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 00.03em;
    font-style: normal;
    color: var(--color-grey);
}

.address li {
    margin-top: 9px;
}

.address a:hover {
    color: var(--hover-color);
}


/*----------------porfolio-------------------- */


/* buttons-p */

.button-wrap {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.button-wrap li {
    list-style: none;
    display: inline;
}

.button-p {
    width: 93px;
    height: 38px;
    background: var(--color-light-grey);
    color: var(--color-black);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    padding: 6px 22px;
    border: none;
}

.button-p:hover {
    background: var(--hover-color);
}


/* content-p */

.portfolio-wrap {
    padding: 34px 0 0;
}

.content-p-l {
    display: block;
}

.portfolio-wrap li {
    list-style: none;
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-wrap ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.portfolio-box {
    width: 100%;
    padding: 20px 24px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    color: var(--portfolio-libe);
}

.portfolio-box li {
    flex-basis: calc((100% - 60px) / 3);
    color: var(--color-white);
}

.content-p-h3 {
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--color-black);
    line-height: 2;
}

.content-p-p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: var(--color-grey);
    line-height: 1.8;
}