// <============== about us ==============>
.aboout-us {
    display: none;
    @media screen and (min-width: $tablet) {
        display: none;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.about-us__item {
    flex-basis: calc((100% - 60px) / 3);
    position: relative;
}

.about-us__image {
    display: block;
}

.about-us__footer {
    width: 370px;
    position: absolute;
    bottom: 0;
    background: rgba(47 48 58 / 0.8);
    padding: 13.5px 0;
}

.about-us__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white)
}

.about-us__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}