.footer-social-media__title {
    @media screen and (min-width: 480px) {
        display: flex;
        justify-content: center;
        color: var(--color-white);
        line-height: 1.17;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        margin: 0 0 20px;
    }
    @media screen and (min-width: 768px) {}
    @media screen and (min-width: 1200px) {}
}

// .footer-wrap {
//     background: var(--background-color);
// }
// .footer-box {
//     display: flex;
// }
// .footer-social-media {
//     padding-bottom: 100px;
//     padding-top: 72px;
// }
// .footer-social-media__title {
//     color: var(--color-white);
//     line-height: 1.12;
//     font-weight: 700;
//     text-transform: uppercase;
//     margin: 0 0 20px;
// }