.newslatter {
    margin-left: 78px;
    align-items: center;
    margin-top: 72px;
}

.newslatter__body {
    display: flex;
    margin-top: 20px;
}

.newslatter__title {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
}

.newslatter__imput {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--color-grey);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 16px;
}

.newslatter__button {
    display: flex;
    align-items: center;
    background-color: var(--hover-color);
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 28px;
    gap: 28px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    white-space: nowrap;
}

.newslatter__vsg {
    fill: var(--color-white);
    width: 24px;
    height: 24px;
}