// <============== logo ==============>
.logo__link {
    display: flex;
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-black);
    margin-top: 16px;
    margin-bottom: 16px;
    @media screen and (min-width: $tablet) {}
    @media screen and (min-width: $desktop) {}
}

.logo__Studio {
    color: var(--hover-color)
}

.logo__Web:hover {
    color: var(--hover-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}