// <============== modal form ==============>
.label__title {
    display: flex;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--color-grey);
}

.label__input {
    border: 1px solid var(--light-grey-2);
    width: 100%;
    height: 40px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid var(--light-grey-2);
    border-radius: 4px;
    padding: 12px 12px 12px 40px;
    margin-bottom: 10px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border: 1px solid var(--hover-color);
    }
}

.label__body {
    position: relative;
}

.label:focus-within svg {
    fill: var(--hover-color);
}

.label-svg {
    height: 18px;
    width: 18px;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.modal-form__button-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.modal-form__button {
    background-color: var(--hover-color);
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 76px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
}

.modal-textarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.modal-textarea__label {
    color: var(--color-grey);
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    @media screen and (min-width: $desktop) {
        font-size: 14px;
    }
}

.modal-textarea__textarea {
    padding: 0;
    resize: none;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid var(--light-grey-2);
    border-radius: 4px;
    padding: 12px 16px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &::placeholder {
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        color: ar(--light-grey-2);
    }
    &:focus {
        border: 1px solid var(--hover-color);
    }
}

.modal-checkbox {
    position: relative;
}

.modal-checkbox__description {
    font-size: 14px;
    font-weight: 400;
}

.modal-checkbox__svg {
    display: flex;
    position: absolute;
    margin-top: 1px;
    fill: var(--color-white);
}

.modal-checkbox__description {
    margin-left: 20px;
    color: var(--color-grey);
}

.modal-checkbox__link {
    color: var(--hover-color);
}

.modal-checkbox__input {
    position: absolute;
    opacity: 0%;
    fill: var(--color-white);
}

.modal-checkbox__body {
    position: absolute;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 2px;
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input:checked+.modal-checkbox__body {
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color);
}

.modal-checkbox__input:focus+.modal-checkbox__body {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    outline: 2px solid rgba(33 150 243 / 0.25);
    outline-offset: 1px;
}