                .modal {
                    position: absolute;
                    margin: auto;
                    background: var(--color-white);
                    border-radius: 4px;
                    box-shadow: 0px 4px 4px rgba(0 0 0 / 0.25);
                    transform: scale(2);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                
                .modal-form {
                    padding: 40px;
                    position: relative;
                    margin: auto;
                    @media screen and (min-width: 420px) {
                        width: 100%;
                        min-width: 390px;
                    }
                    @media screen and (min-width: $mobile) {
                        max-width: 100%;
                        min-width: 450px;
                    }
                    @media screen and (min-width: $desktop) {
                        max-width: 100%;
                        min-width: 528px;
                    }
                    .modal-form__title {
                        padding-bottom: 12px;
                        justify-content: center;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 1.15;
                        text-align: center;
                        letter-spacing: 0.03em;
                        margin-bottom: 12px;
                    }
                }