.header-nav__link--active::after {
    position: absolute;
    bottom: -32px;
    left: -1px;
    content: "";
    width: 101%;
    height: 4px;
    left: 0px;
    bottom: -40.5px;
    border-radius: 10px;
    background: var(--hover-color);
    @media screen and (min-width: 768px) {
        bottom: -41.5px
    }
}