:root {
    --hover-color: #2196F3;
    --color-grey: #757575;
    --color-black: #212121;
    --color-light-grey: #F5F4FA;
    --header-line: #ececec;
    --background-color: #2f303a;
    --color-white: #fff;
    --portfolio-libe: #eee;
    --light-grey-2: #AFB1B8;
    --backdrop-color: rgba(0, 0, 0, 0.4);
}